@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::selection { background-color: #6cb4e880; }

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#logout-button-container {
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logout-button {
  background-color: transparent;
  color: #31343b;
  border: none;
  font-family: "Patrick Hand SC", cursive;
  font-size: 3vw; 
  font-weight: bolder;
}

#logout-button:hover {
  font-size: 2.85vw;
}

#GoogleButton {
  background-color: #434a5a;
  color: white;
  border: none;
  padding: 1vh 2.58vh;
  font-size: 3vw; 
  font-weight: 750;
  border-radius: 10px; 
}

#SpotifyButton {
  background-color: #434a5a;
  color: white;
  border: none;
  padding: 1.35vh 2.5vh;
  font-size: 2.75vw;
  font-weight: 750;
  border-radius: 10px; 
}

#GoogleButton:hover,
#SpotifyButton:hover {
  background-color: #31343b;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
}

footer {
  color: #443566;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  min-height:50px;
}