body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.google-logo {
  position: relative;
  border-top: 12px solid #EA4335;
  border-right: 12px solid #4285F4;
  border-bottom: 12px solid #34A853;
  border-left: 12px solid #FBBC05;
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 36px; /* Adjust the width and height accordingly */
  height: 36px;
  padding: 0;
  margin: 10vh auto 0;
}

.google-logo::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px; /* Adjust the position accordingly */
  transform: translateY(-50%);
  width: 28px; /* Adjust the width accordingly */
  height: 12px;
  background: #4285F4;
}

.google-logo::after {
  content: "";
  position: absolute;
  border-top: 24px solid transparent; /* Adjust the border size accordingly */
  border-right: 24px solid #FFFFFF; /* Adjust the border size accordingly */
  top: -12px; /* Adjust the position accordingly */
  right: -12px; /* Adjust the position accordingly */
  width: 0;
  height: 0;
}



