#casset-edit {
    height: 100%;
    display: flex;
    flex-direction: row;
}
#casset-side-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5vw 1.5vw 0 1.5vw;
    background-color: #EFE1EF;
    border-radius: 30px;
    overflow: auto;
}
#spotify-cover {
    margin: 3vw 3vw 2vw 3vw;
    width: 10vw;
    height: auto;
    border-radius: 10px;
}
#spotify-desc-title {
    font-size: 1.5vw;
    color: #DB5EA2;
}
#spotify-desc {
    font-size: 1vw;
    text-align: justify;
    margin: -1vw 1.5vw 0 1.5vw;
}
#date-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#date-container p {
    margin: 1vw 0 0.5vw 0;
    display: inline-block;
}
#date-container p:first-child {
    margin-right: 5px; /* small margin between the two <p> elements */
}
#date-created {
    font-size: 1.3vw;
    color: #DB5EA2;
}
#date {
    font-size: 1.1vw;
}
#share-button-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}
#share-button {
    display: flex;
    margin-bottom: 2.8vw;
    padding: 0.5vw 2.7vw 0.5vw 2.7vw;
    background-color: #C9A8CB;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.6vw;
    border-radius: 15px;
}
#casset-songs {
    display: flex;
    flex-direction: column;
    flex: 3;
}
#casset-songs-top {
    display: flex;
    flex-direction: row;
}
#back-button {
    margin: 1.5vw 15.4vw 1.5vw 0;
    padding: 0.5vw 2vw;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #C9A8CB;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.4vw;
    border-radius: 13px;
}
#share-button:hover,
#back-button:hover {
    background-color: #b184b3;
}
#casset-songs-title {
    color: #DB5EA2;
    font-size: 1.7vw;
    align-self: center;
    margin-top: 1.1vw;
    margin-bottom: 0.9vw;
}
#casset-songs-box-col {
    padding-bottom: 1.5vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 1.5vw;
    background-color: #EFE1EF;
    border-radius: 30px;
}
#casset-songs-row {
    margin: 2.5vw 2vw 0 2.5vw;
    display: flex;
    align-items: center;
}
#casset-cover {
    margin-right: 2vw;
    width: 12vw;
    height: auto;
}
#casset-title {
    color: #31343B;
    font-size: 2.7vw;
    white-space: wrap; /* Allow text to wrap */
    word-break: break-all; /* Break long words */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
}
#casset-list-in-edit {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* . means class name and # means id -- both do same things kinda */
.song-box-info {
    display: flex;
    color: white;
    background-color: #CD77A5;
    margin: 1.5vw;
    height: 4vw;
    align-items: center;
}
#spotify-number {
    margin: 2vh;
}
#spotify-artist-image {
    margin: 1vw;
    width: 3vw;
    height: 3vw;
    border-radius: 5px;
}
#spotify-songname-format{
    font-size: 1.2vw;
    white-space: wrap;
    margin: 0;
}
#spotify-artistname-format {
    font-size: 1vw;
    white-space: wrap;
    margin: 0;
}
#spotify-albumname-format {
    font-size: small;
    margin: 0;
}
.delete-button {
    color: #926395; 
    cursor: pointer; 
    margin-left: auto;
    margin-right: 20px;
    margin-top: 25px;
    width: 2.5vw;
    height: 2.5vw; 
}
.delete-button:hover {
    color: #653a69; 
}
.star {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: auto; /* Adjust margin as needed */
}
.star-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #FDBE61; 
    border-left: 10px solid transparent;
    transform: rotate(35deg);
}
  
