#casset-edit {
    height: 100%;
    display: flex;
    flex-direction: row;
}
#casset-side-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5vw;
    background-color: #EFE1EF;
    border-radius: 30px;
}
#spotify-cover {
    margin: 3vw 3vw 2vw 3vw;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 10px;
}
#spotify-desc-title {
    font-size: 1.5vw;
    color: #DB5EA2;
}
#spotify-desc {
    font-size: 1vw;
    text-align: justify;
    margin: -1vw 1.5vw 0 1.5vw;
}

#date-created { /*title*/
    margin-top: 1vw;
    font-size: 1.3vw;
    color: #DB5EA2;
}
#date {
    font-size: 0.95vw;
    margin: -1vw 1.5vw 0 1.5vw;
}
#share-button-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}
#share-button {
    display: flex;
    margin-bottom: 2.8vw;
    padding: 0.5vw 2.7vw 0.5vw 2.7vw;
    background-color: #C9A8CB;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.6vw;
    border-radius: 15px;
}
#casset-songs {
    display: flex;
    flex-direction: column;
    flex: 3;
}
#casset-songs-top {
    display: flex;
    flex-direction: row;
}
#back-button {
    margin: 1.5vw 15.4vw 1.5vw 0;
    padding: 0.5vw 2vw;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #C9A8CB;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.4vw;
    border-radius: 13px;
}
#share-button:hover,
#back-button:hover {
    background-color: #b184b3;
}
#casset-songs-title {
    color: #DB5EA2;
    font-size: 1.7vw;
    align-self: center;
    margin-top: 1.1vw;
    margin-bottom: 0.9vw;
}
#casset-songs-box-col {
    padding-bottom: 1.5vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 1.5vw;
    margin-bottom: 1.5vw;
    background-color: #EFE1EF;
    border-radius: 30px;
}
#casset-songs-row {
    margin: 2.5vw 2vw 0 2.5vw;
    display: flex;
    align-items: center;
}
#casset-cover {
    margin-right: 2vw;
    width: 12vw;
    height: auto;
}
#casset-title {
    color: #31343B;
    font-size: 2.7vw;
    white-space: wrap; /* Allow text to wrap */
    word-break: break-all; /* Break long words */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
}
#casset-list-in-edit {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* background-color: blue; */
}

/* . means class name and # means id -- both do same things kinda */
.song-box-info {
    display: flex;
    color: white;
    background-color: #CD77A5;
    margin: 1.5vw;
    height: 4vw;
    align-items: center;
}

#spotify-number {
    font-size: 1.25vw;
    margin: 2vh;
}
#spotify-artist-image {
    margin: 1vw;
    width: 3vw;
    height: 3vw;
    border-radius: 5px;
}

#spotify-songname-format{
    font-size: 1.2vw;
    white-space: wrap;
    margin: 0;
}
#spotify-artistname-format {
    font-size: 1vw;
    white-space: wrap;
    margin: 0;
}
#spotify-albumname-format {
    font-size: small;
    margin: 0;
}

.delete-button {
    color: #926395; 
    cursor: pointer; 
    margin-left: auto;
    margin-right: 20px;
    margin-top: 25px;
    width: 2.5vw;
    height: 2.5vw; 
}

.delete-button:hover {
    color: #653a69; 
}

.star {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: auto; /* Adjust margin as needed */
  }
  
  .star-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #FDBE61; 
    border-left: 10px solid transparent;
    transform: rotate(35deg);
  }

/* Share Button Pop-up Layout */
#share-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}
#share-popup {
    position: relative;
    background-color: #f0b8d6;
    padding: 2vw 0 2vw 2vw;
    border-radius: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 35vw;
    height: 30vw;
}
.close-button {
    position: fixed;
    border: none;
    margin-right: 30%;
    outline: none;  
    background-color: transparent;
    font-size: 1.3vw;
    color: #31343B;
}
#share-content {
    margin: 3vw 0;
}
#share-prompt {
    font-size: 1.4vw;
    color: #31343B;
}
.friend-button {
    width: 30vw;
    text-align: left;
    margin: 0 0 1vw 0;
    padding: 0.5vw 1.5vw;
    font-size: 1.1vw;
    color: #8b6178;
    border: none;
    outline: none;  
    background-color: #F2EAE5;
    border-radius: 1vw;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.friend-button:hover {
    color: #604454;
}
  
