.header {
  max-width: 100%;
  max-height: 100%;
}

.container {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
}

.rectangle-container {
  position: relative;
  max-width: 75%; /* Set the maximum width of the rectangle container */
  margin-top: 5vh; /* Add margin to the top */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.rectangle-image {
  width: 100%;
  height: auto;
}

.login-auth-button-container { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

