#main {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: white
}
#everything-box {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch
}
#left-side {
  display: flex;
  flex-direction: column;
  flex: 5
}
#top-box {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#title {
  border-radius: 30px;
}
#create-button {
  margin: 0cap;
  font-weight: bold;
  font-size: xx-large;
  flex: 1;
  align-self: stretch;
  background-color: #C9A8CB;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#create-button:hover {
  background-color: #edb9e5;
}
#import-button {
  margin: 0cap;
  margin-right:2vh;
  font-weight: bold;
  font-size: xx-large;
  flex: 1;
  align-self: stretch;
  background-color: #C9A8CB;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#import-button:hover {
  background-color: #edb9e5;
}
#middle-box {
  border: 3px solid #C9A8CB;
  border-radius: 50px;
  flex: 2;

}
#search-container{
  flex-direction:row;
}
#search-submit {
  background-color: #FDDFCA;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#search-bar {
  background-color: #FDDFCA;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#empty-cassette-box{

}
#bottom-box {
  
  display: flex;
  flex-direction: column
}
#groups-box {
  
}
footer {
  color: #443566;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  min-height:50px;
}
#right-side {
  display: flex;
  flex-direction: column;
  flex: 1
}
#account-menu {
  background-color: #FDDFCA;
}
#friends-box {
  border: 3px solid #C9A8CB;
  border-radius: 50px;
  flex: 2
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.create-playlist-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.new-playlist-songs{
  position:absolute;
  background-color: #fff;
  left: 5%;
  border-radius: 10px;
  width: 1080px;
  height: 80vh;
  overflow:auto;
}
#song-playlist-add{
  overflow:auto;
}
#new-playlist-div{
  display:flex;
}
.song-add-display{
  width:50%;
  height:50%;
  padding-left: 3px;
  display:flex;
}
.song-add-image{
  background-color: transparent;
  border:none;
}
#make-playlist{
  margin-left:auto;
  background-color: transparent;
  border:none;
  color: black;
}
#songs-added{
  display:flex;
  background-color: #f60aa3;
  position:fixed;
  top:10%;
  right:5%;
  overflow-y: auto;
  width:300px;
  height: 80vh;
  border-radius: 10px;
}
.song-list-display{
  display:flex;
}
h1#newly-playlist-title{
  margin-left: 10%;
}
.loading-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.remove-song-select{
  width:30px;
  height:110px;
  background-color: transparent;
  border:none;
}
#spin{
  margin-top: 150px;
  size: 80vh;
}
#close-button {
  border: none;
  margin-left: 10%;
  outline: none;
  background-color: transparent;
  display: block;
}
#close-button:hover{
  background-color: transparent;
}
body.dark-theme {
  background: #222222;
  color: white;
  
}

body.dark-theme button {
  background-color: #222222;
  color: white;
}

body.dark-theme button:hover {
  background-color: #454545;
}

#placeholder-box {
  flex:1;
}

#title-box {
  flex:2;
}

#icons-box {
  flex:1;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
