#main {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #ab8fad;
}
#everything-box {
  height: 100%;
  display: flex;
}
#left-side {
  display: flex;
  flex-direction: column;
  flex: 4.5
}
#top-box {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#title {
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
  width: 20vw;
  height: auto;
  border-radius: 20px;
}
#create-button {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1.5vw;
  width: 25vw;
  height: 5vw;
  font-weight: bold;
  font-size: 2.5vw;
  flex: 1;
  background-color: #C9A8CB;
  border: none;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#import-button {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-right: 1vw;
  width: 25vw;
  height: 5vw;
  font-weight: bold;
  font-size: 2.5vw;
  flex: 1;
  background-color: #C9A8CB;
  border: none;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#create-button:hover,
#import-button:hover {
  color: #926395;
}
#middle-box {
  margin-left: 0.75vw;
  margin-right: 0.75vw;
  margin-bottom: 0.75vw;
  border: 3px solid #C9A8CB;
  border-radius: 50px;
  flex: 2;
  display: flex;
  flex-direction: column; /* Change to column direction */
  justify-content: flex-start; /* Align content to the start (top) */
  align-items: stretch; /* Stretches search, maybe need to adjust after cassets are added */
}
#search-container {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#create-container{
  display:flex;
  flex-direction: column;
}
#search-bar {
  color: #a53171;
  width: 100%;
  height: 3vw;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 3vw;
  background-color: #FDDFCA;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5vw;
}
#search-bar::placeholder {
  text-align: center; /* Center-align placeholder text */
}
#empty-cassets-box {
  flex: 1; /* Occupy remaining space */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  color: #31343b;
  font-size: 1.6vw;
}
.cassette-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cassette-img{
  height:160px;
  width:240px;
}
.cassette-button{
  background-color: transparent;
  border: none;
}
.cassette-button:hover{
  background-color: #866487;
}
.cassette-under-box{
  border: 1px solid black;
  width:240px;
  border-radius:12px;
  display:flex;
}
#bottom-box {
  display: flex;
  flex-direction: column
}
#groups-box {
  
}
#right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#account-menu {
  display: flex;
  flex-direction: column;
  margin-top: 1.6vw;
  margin-bottom: 1.6vw;
  margin-right: 0.75vw;
  background-color: #FDDFCA;
  border-radius: 25px;
}
#account-top {
  display: flex;
  flex-direction: row;
}
#pfp {
  margin-top: 0.75vw;
  margin-left: 0.75vw;
  width: 4.5vw;
  height: 100%;
  border-radius: 100%;
}
#name-centre {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#name {
  margin-top: 1.6vw;
  margin-left: 1.3vw;
  color: #31343b;
  font-weight: bold;
  font-size: 1.4vw;
}
#account-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logout-main {
  margin-bottom: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #C9A8CB;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  border-radius: 10px;
}
#logout-main:hover {
  background-color: #b184b3;
}
#friends-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 0.75vw;
  margin-bottom: 0.75vw;
  border: 3px solid #C9A8CB;
  border-radius: 50px;
}
#friends-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#friends {
  margin-top: 0.4vw;
  color: #31343b;
  font-weight: bold;
  font-size: 2vw;
}
#empty-friends-box {
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex: 1; 
  color: #31343b;
  font-size: 1.4vw;
}
#logo {
  width: auto;
  height: 3.7vw;
  max-width: 5.75vw;
  border-radius: 3px;
}

.overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.create-playlist-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.new-playlist-songs{
  position:absolute;
  background-color: #fff;
  left: 5%;
  border-radius: 10px;
  width: 1080px;
  height: 80vh;
  overflow:auto;
}
#song-playlist-add{
  overflow:auto;
}
#new-playlist-div{
  display:flex;
}
.song-add-display{
  width:50%;
  height:50%;
  padding-left: 3px;
  display:flex;
}
.song-add-image{
  background-color: transparent;
  border:none;
}
#make-playlist{
  margin-left:auto;
  background-color: transparent;
  border:none;
  color: black;
}
#add-song-search{
  display:flex;
  height: auto;
  flex-direction: column;
}
#songs-added{
  display:flex;
  background-color: #f60aa3;
  position:fixed;
  top:10%;
  right:5%;
  overflow-y: auto;
  width:300px;
  height: 80vh;
  border-radius: 10px;
}
.song-list-display{
  display:flex;
}
h1#newly-playlist-title{
  margin-left: 10%;
}
.loading-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.remove-song-select{
  width:30px;
  height:110px;
  background-color: transparent;
  border:none;
}
#spin{
  margin-top: 150px;
  size: 80vh;
}
#close-button {
  border: none;
  margin-left: 10%;
  outline: none;
  background-color: transparent;
  display: block;
}

footer {
  color: #443566;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  min-height:50px;
}

/* Don't know if we are going to use this? */
#close-button:hover{
  background-color: transparent;
}
body.dark-theme {
  background: #222222;
  color: white;
  
}

body.dark-theme button {
  background-color: #222222;
  color: white;
}

body.dark-theme button:hover {
  background-color: #434a5a;
}
