/* MAIN SITE */
#main {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}
#everything-box {
  height: 100%;
  display: flex;
}
#left-side {
  display: flex;
  flex-direction: column;
  flex: 4.5
}
#top-box {
  display: flex;
  flex-direction: row;
  padding: 0.63vw;
}
#title {
  margin: 0.3vw 0 0.3vw 0.1vw;
  width: 20vw;
  height: auto;
  border-radius: 1.6vw;
}
#create-button {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1.5vw;
  width: 25vw;
  height: 5vw;
  font-weight: bold;
  font-size: 2.5vw;
  flex: 1;
  background-color: #C9A8CB;
  border: none;
  color: white;
  border-top-left-radius: 1.6vw;
  border-bottom-left-radius: 1.6vw;
}
#import-button {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-right: 1vw;
  width: 25vw;
  height: 5vw;
  font-weight: bold;
  font-size: 2.5vw;
  flex: 1;
  background-color: #C9A8CB;
  border: none;
  color: white;
  border-top-right-radius: 1.6vw;
  border-bottom-right-radius: 1.6vw;
}
#create-button:hover,
#import-button:hover {
  color: #926395;
}
#middle-box {
  margin-left: 0.75vw;
  margin-right: 0.75vw;
  margin-bottom: 0.75vw;
  border: 3px solid #C9A8CB;
  border-radius: 1.9vw;
  flex: 2;
  display: flex;
  flex-direction: column; /* Change to column direction */
  justify-content: flex-start; /* Align content to the start (top) */
  align-items: stretch; /* Stretches search, maybe need to adjust after cassets are added */
}
#bottom-box {
  display: flex;
  flex-direction: column
}
#right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
}
/* NAVIGATION */
#navigation {
  display: flex;
  flex-direction: row;
  margin: 1.5vw;
}
#my-cassets-nav {
  margin-right: 3vw;
  padding: 0.5vw 1vw;
  background-color: transparent;
  border: none;
  color: #D27AAB;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  border-radius: 1vw;
}
#shared-cassets-nav {
  padding: 0.5vw 1vw;
  background-color: transparent;
  border: none;
  color: #D27AAB;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  border-radius: 1vw;
}
#my-cassets-nav.active,
#shared-cassets-nav.active,
#my-cassets-nav:hover,
#shared-cassets-nav:hover {
  background-color: #EFE1EF;
  color: #a53171;
}
/* SEARCH */
#search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#search-bar {
  padding-right: 2vw;
  color: #a53171;
  width: 100%;
  height: 3vw;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 1vw;
  background-color: #FDDFCA;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5vw;
}
#search-bar::placeholder {
  text-align: center; /* Center-align placeholder text */
}
/* CASSETS */
#empty-cassets-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #31343b;
  font-size: 1.6vw;
}
.all-cassettes {
  display: flex;
  margin-top: 5vw;
}
.no-cassets {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 0 0 5vw;
  align-items: center;
}
.cassette-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 7vw;
  max-width: calc(100% - 12vw);
}
#cassette-title-and-img {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 1.2vw 5vw 2vw;
}
#cassette-title {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  color:#31343b;
  width: 18vw;
  height: 3vw;
}
#cassette-image-div {
  width: calc(33.33% - 11vw);
  min-width: 12vw; /* Set a minimum width for the image container */
}
#cassette-img{
  width: 12vw;
  height: auto;
}
.cassette-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFE1EF;
  width: 12vw;
  border-radius: 0.1vw 0.1vw 0.5vw 0.5vw;
}
#cassette-button{
  background-color: transparent;
  border: none;
  color: #D27AAB;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2vw;
}
#cassette-button:hover{
  color: #866487;
}
/* ACCOUNT MENU */
#account-menu {
  display: flex;
  flex-direction: column;
  margin-top: 1.6vw;
  margin-bottom: 1.6vw;
  margin-right: 0.75vw;
  background-color: #FDDFCA;
  border-radius: 1.9vw;
}
#account-top {
  display: flex;
  flex-direction: row;
}
#pfp {
  margin-top: 0.75vw;
  margin-left: 0.75vw;
  width: 4.5vw;
  height: 100%;
  border-radius: 100%;
}
#name-centre {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#name {
  margin-top: 1.6vw;
  color: #31343b;
  font-weight: bold;
  font-size: 1.4vw;
}
#account-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logout-main {
  margin-bottom: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #C9A8CB;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  border-radius: 0.8vw;
}
#logout-main:hover {
  background-color: #b184b3;
}
/* FRIENDS */
#friends-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 0.75vw;
  margin-bottom: 0.75vw;
  border: 3px solid #C9A8CB;
  border-radius: 1.9vw;
}
#friends-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.25vw;
  padding-left: 1.25vw;
  padding-right: 1.25vw;
}
#friends {
  margin-top: 0.4vw;
  color: #31343b;
  font-weight: bold;
  font-size: 1.8vw;
}
#logo {
  width: auto;
  height: 3.7vw;
  max-width: 5.75vw;
  border-radius: 3px;
}
/* CREATE CASSET */
.overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 80vh;
  align-items: center;  
  height: 80vh;
}
.create-playlist-form {
  background-color: #e8cfe9;
  border: #845986 solid 0.3vw;
  padding: 0.9vw;
  border-radius: 1.9vw;
  height: 32vw;
  width: 38vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
#close-button {
  position: fixed;
  border: none;
  outline: none; 
  background-color: transparent;
  font-size: 1.3vw;
  color: #31343B;
}
#create-container{
  display:flex;
  flex-direction: column;
  height: 30vw;
  width: auto;
}
#create-prompt {
  text-align: center;
  margin-top: 3vw;
  margin-bottom: -5vw;
  font-size: 1.5vw;
  color: #31343B;
}
#playlist-name {
  color: #31343B;
  height: 3.5vw;
  border: none;
  font-size: 1.5vw;
  border-top-left-radius: 0.6vw;
  border-bottom-left-radius: 0.6vw;
  padding: 1vw;
  margin-bottom: 1vw;
}
#make-button {
  display: flex;
  background-color: #845986;
  height: 3.5vw;
  width: 6vw;
  border: none;
  font-size: 1.5vw;
  border-top-right-radius: 0.6vw;
  border-bottom-right-radius: 0.6vw;
  align-items: center;
  justify-content: center;
}
#make-button:hover {
  background-color: #6d466f;
}
#optional {
  margin-bottom: 0;
  font-size: 1.1vw;
  color: #31343B;
} 
#description {
  color: #31343B;
  height: 3vw;
  border: none;
  font-size: 1.3vw;
  border-radius: 0.6vw;
  padding: 1vw;
}
.new-playlist-songs{
  position: absolute;
  background-color: #f4e2f5;
  left: 3%;
  border-radius: 1vw;
  width: 75vw;
  height: 91.5vh;
  overflow:auto;
}
#song-playlist-add{
  overflow:auto;
}
#new-playlist-div{
  display:flex;
}
.song-add-display{ /* NEED TO CHANGE PROBABLY */
  width:50%;
  height:50%;
  padding-left: 3px;
  display:flex;
}
.song-add-image{
  background-color: transparent;
  border:none;
}
#make-playlist {
  margin-left: auto;
  margin-top: 0.6vw ;
  margin-right: 0.6vw;
  background-color:  #CD77A5; 
  border: none; 
  color: #fff;
  font-family: "Russo One", sans-serif;
  font-size: 1.6vw;
  padding: 0.4vw 1vw;
  border-radius: 1vw; 
  transition: all 0.2s ease; 
}
#make-playlist:hover {
  background-color: #b4628e; 
  color: #f4e2f5;
}
h1#newly-playlist-title{
  margin-left: 5%;
  margin-top: 0.8vw;
  font-size: 2.5vw;
  font-family: "Russo One", sans-serif;
  color: #79637a;
}
#add-song-search{
  display:flex;
  border-radius: 1.5vw;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  border-bottom: 1vw;
  height: auto;
  width: 48vw;
  padding: 7px; 
  background-color: #c9a8cba1; 
  flex-direction: column;
  margin-bottom: 10px; 
}
#search-form {
  color: #31343B;
  height: 3.5vw;
  border: none;
  font-size: 1.5vw;
  border-top-left-radius: 0.6vw;
  border-bottom-left-radius: 0.6vw;
  padding: 1vw;
  margin-bottom: 1vw;
}
#search-button {
  display: flex;
  background-color: #845986;
  height: 3.5vw;
  width: 7vw;
  border: none;
  font-size: 1.5vw;
  border-top-right-radius: 0.6vw;
  border-bottom-right-radius: 0.6vw;
  align-items: center;
  justify-content: center;
}
#search-button:hover {
  background-color: #6d466f;
}
#songs-added{
  display:flex;
  background-color: #e7cbe6;
  position:fixed;
  top: 4%;
  right: 3vw;
  overflow-y: auto;
  width: 18vw;
  height: 91.5vh;
  border-radius: 10px;
  border: #ae5b87 solid 0.2vw;
}
#no-songs-yet {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vw;
  color: #31343B;
}
.song-list-display{
  display:flex;
}
.loading-container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.remove-song-select{
  width:30px;
  height:110px;
  background-color: transparent;
  border:none;

}
#spin{
  margin-top: 150px;
  size: 80vh;
}
footer {
  color: #443566;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  min-height:50px;
}
.remove-song-select:hover{
  background-color: transparent;
}
body.dark-theme {
  background: #222222;
  color: white;
  
}
body.dark-theme button {
  background-color: #222222;
  color: white;
}

body.dark-theme button:hover {
  background-color: #434a5a;
}

.scrollable {
  overflow-y: scroll; /* Enable vertical scrollbar */
  max-height: calc(100% - 20px); /* Set maximum height for the scrollable area, considering scrollbar width */
}

/* WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0b2cb;  
  border-radius: 5px;
}

/* Firefox */
::-moz-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-moz-scrollbar-thumb {
  background-color: #e0b2cb; 
  border-radius: 5px;
}
