@import url('https://cdn.jsdelivr.net/npm/react-quill-emoji/dist/style.css');

.note-container {
    margin: 0 1.5vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 2px solid #CD77A0;
    background-color: #F2EAE5;
    padding: 1vw 1vw 0 1vw;
    border-radius: 10px;
    overflow: hidden; 
    white-space: normal; 
}
.note-content {
    font-family: "Patrick Hand", cursive;
    font-weight: 300;
    font-style: normal;
    padding-right: 3vw;
    margin: 0 2.5vw 0 2.5vw;
    width: 100%;
    height: auto; /* Adjusted to auto to fit the content */
    border: none; 
    outline: none; 
    font-size: 1.2vw; 
}
.note-content > h1 {
    font-size: 3.175vw; 
}
.note-content > h2 {
    font-size: 2.5vw; 
}
.note-content > h3 {
    font-size: 2.15vw; 
}

.default-buttons {
    display: flex;
    flex-direction: row;
}
.edit-button {
    border: none;
    background-color: transparent;
    color: #CD77A5;
    font-size: 2vw;
}
#button-center {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.expand-collapse-button {
    margin-left: -5vw;
    border: none;
    background-color: transparent;
    color: #CD77A5;
    font-size: 2vw;
}
.edit-button:hover,
.expand-collapse-button:hover {
    color: #95416e;
}
#save-button {
    margin: 0.5vw 1vw 1vw 0.5vw;
    border: none;
    background-color: #e0b2cb;
    color: #31343B;
    padding: 0.2vw 0.5vw;
    border-radius: 5px;
}
#delete-button {
    margin: 0.5vw 0;
    border: none;
    background-color: #e0b2cb;
    color: #31343B;
    padding: 0.2vw 0.5vw;
    border-radius: 5px;
}