#casset-play-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#back {
    margin: 1.5vw 0 1.5vw 1.5vw;
    padding: 0.5vw 2vw;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #C9A8CB;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.4vw;
    border-radius: 13px;
}
#back:hover {
    background-color: #b184b3;
}
#casset-title-play {
    margin-right: 1.5vw;
    color: #31343B;
    font-size: 2.7vw;
    white-space: wrap; /* Allow text to wrap */
    word-break: break-all; /* Break long words */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
    align-self: flex-end;
}
#big-purple-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #EFE1EF;
    margin: 0 1.2vw 1.2vw 1.2vw;
    border-radius: 20px;
}
#left-play-song {
    display: flex;
    flex-direction: column;
    flex: 11;
    justify-content: center;
    margin-top: 4vw;
}
#right-cassetandnote {
    display: flex;
    flex-direction: column;
    flex: 10;
}
#show-note {
    flex: 1;
    background-color: #F2EAE5;
    border: 2px solid #CD77A0;
    box-shadow: 
    6px 6px 5px rgba(0, 0, 0, 0.25), /* Main shadow with slight blur */
    6px 6px 10px rgba(0, 0, 0, 0.25), /* Additional shadow for more blur */
    6px 6px 15px rgba(0, 0, 0, 0.25); /* Additional shadow for more blur */
    margin: 6vw 6vw 6vw 0;
    border-radius: 10px 10vw 10px 10px;
}