.container {
    display: flex;
    justify-content: center;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.now-playing__cover {
    display: flex;
    width: 18vw;
    height: auto;
    border-radius: 1.5vw;
}
.now-playing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.now-playing__name {
    margin-top: 1vw;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    color: #31343B;
    word-break: break-all; /* Break long words */
}
.now-playing__artist {
    margin: 0.5vw 0;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
    color: #31343B;
}
.btn-spotify {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-spotify-prev {
    background-color: #F4EDE9;
    border: 0.1vw solid #31343B;
    border-radius: 0.4vw;
    margin-right: 3vw; 
    width: 4vw;
    height: 4vw;
}
.btn-spotify-pp {
    margin-top: 0.6vw;      
    margin-bottom: 0.6vw;                                                        
    background-color: #F4EDE9;
    border: 0.1vw solid #31343B;
    border-radius: 0.4vw;
    margin-right: 3vw; 
    width: 4vw;
    height: 4vw;
}
.btn-spotify-next {
    background-color: #F4EDE9;
    border: 0.1vw solid #31343B;
    border-radius: 0.4vw;
    width: 4vw;
    height: 4vw;
}
#prev {
    width: 2vw;
    height: 2vw;
}
#play {
    width: 2vw;
    height: 2vw;
}
#pause {
    width: 2vw;
    height: 2vw;
}
#next{
    width: 2vw;
    height: 2vw;
}
#volume {
    margin-top: 0.5vw;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1vw;
    color: #31343B;
    text-align: center; /* Center text */
}
#volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 28vw;
    height: 1vw;
    background: #E8D0CB; /* Background color */
    outline: none;
    margin: 1vw 0 2vw 0; 
}
#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.6vw;
    height: 2.2vw;
    background: #BC6870; /* Color of the slider thumb */
    border-radius: 0;
    outline: none;
    cursor: pointer;
}
#volume-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.6vw;
    height: 2.2vw;
    background: #BC6870; /* Color of the slider thumb */
    border-radius: 0;
    outline: none;
    cursor: pointer;
}
#volume-slider::-webkit-slider-thumb:hover {
    background: #a7555e;
    box-shadow: 0 0.2vw 0.3vw 0 rgba(0, 0, 0, 0.25);
}
#volume-slider::-moz-range-thumb:hover {
    background: #a7555e;
    box-shadow: 0 0.2vw 0.3vw 0 rgba(0, 0, 0, 0.25);
}