.container {
    display: flex;
    justify-content: center;
}
.mainwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.now-playing__cover {
    display: flex;
    width: 20vw;
    height: auto;
    border-radius: 20px;
}
.now-playing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.now-playing__name {
    margin-top: 1vw;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    color: #31343B;
    word-break: break-all; /* Break long words */
}
.now-playing__artist {
    margin: 0.5vw 0;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
    color: #31343B;
}
.btn-spotify {
    display: flex;
    flex-direction: row;
}
.btn-spotify-prev {
    background-color: #F4EDE9;
    border: 1px solid #31343B;
    border-radius: 5px;
    margin-right: 3vw; 
    width: 4vw;
    height: 4vw;
}
.btn-spotify-pp {
    margin-top: 0.6vw;      
    margin-bottom: 0.6vw;                                                        
    background-color: #F4EDE9;
    border: 1px solid #31343B;
    border-radius: 5px;
    margin-right: 3vw; 
    width: 4vw;
    height: 4vw;
}
.btn-spotify-next {
    background-color: #F4EDE9;
    border: 1px solid #31343B;
    border-radius: 5px;
    width: 4vw;
    height: 4vw;
}
#prev {
    width: 2vw;
    height: 2vw;
}
#play {
    width: 2vw;
    height: 2vw;
}
#pause {
    width: 2vw;
    height: 2vw;
}
#next{
    width: 2vw;
    height: 2vw;
}
#volume {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1vw;
    color: #31343B;
    text-align: center; /* Center text */
}
#volume-slider {

}
  
  
