.header {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
}

.rectangle-container {
  position: relative;
  max-width: 80%; /* Set the maximum width of the rectangle container */
  margin-top: 5vh; /* Add margin to the top */
}

.rectangle-image {
  width: 100%;
  height: auto;
}

/* Will probably have to change this depending on the spotify authentication & logout button 
    * Do we still want a name display & logout button on the spotify authentication page?
*/
.login-button-container { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

